<div class="site-width">

  <header class="header-main">

    {{ partial:partials/nav-main }}

  </header>

  <main class="content-main">

    <header class="sermons-header">

      <h2 class="sermons-header__title">Ομιλητής: {{ title }}</h2>

      <div class="search-form">
        <form action="/results">
          <input type="search" name="q" placeholder="Search">
          <button type="submit">Go</button>
        </form>
      </div>

    </header>

    <section class="sermons-list">

      <div>
          <article>
              {{ taxonomy:preacher }}
                  <h2><a href="{{ url }}">{{ title }}</a></h2>
              {{ /taxonomy:preacher }}
          </article>
      </div>

    </section>

  </main>

  {{ partial:partials/footer }}

</div> <!-- /site-width -->