<header class="header-main">

  {{ partial:partials/nav-main }}

</header>

<main class="content-main">

  <header class="sermons-header">

    <h2 class="sermons-header__title">Ομιλητής: {{ title }}</h2>

    <div class="search-form">
      <form action="/results">
        <input type="search" name="q" placeholder="Search">
        <button type="submit">Go</button>
      </form>
    </div>

  </header>

  <section class="sermons-list">

    {{ entries }}
      {{ collection:sermons limit="6" paginate="true" as="posts" }}
        <div>
            <h2>
                <a href="{{ url }}">
                    {{ title | widont }}
                </a>
            </h2>
            <p>
                <span>{{ date }}</span>
                {{ excerpt | widont ?? content | strip_tags | safe_truncate:160:...}}
            </p>
        </div>
        {{ /collection:sermons }}
      {{ /entries }}

  </section>

</main>

{{ partial:partials/footer }}