<footer class="site-footer">
  <section class="section-footer">
    <h6 class="section-footer__title">Επικοινωνία</h6>
    <a href="mailto:hello@ecclesia-ex.gr">hello@ecclesia-ex.gr</a>
  </section>
  <section class="section-footer">
    <h6 class="section-footer__title">Διεύθυνση</h6>
    <p>Εμμανουήλ Μπενάκη 83</p>
  </section>
  <section class="section-footer">
    <h6 class="section-footer__title">Ακολουθήστε μας</h6>
    <a href="https://facebook.com/ecclesiaex">Facebook Page</a>
  </section>
  <section class="section-footer">
    <h6 class="section-footer__title">Λειτουργία</h6>
    <p>Κάθε Κυριακή στις 11:30π.μ.</p>
  </section>
  <section class="section-footer">
    <h6 class="section-footer__title">Συντομεύσεις</h6>
    <ul>
      <li><a href="#0">Άρθρα</a></li>
      <li><a href="#0">Μηνύματα</a></li>
      <li><a href="#0">Gallery</a></li>
    </ul>
  </section>
</footer>