.content-main {
  padding:    var(--heading-padding);
}

.content-main > * + * {
  margin-top:   .6rem;
}

.hero-image {
  position:     relative;
  z-index:      0;
}

.hero-image img {
  width:        100%;
  height:       100%;
  object-fit:   cover;
}