// SINGLE SERMON  PAGE

.sermon-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1em;
  border: 1px solid rgba(0,0,0,0.2);
}
.sermon-info {
  padding:   0.5em 1em 0.5em 0;
}
.sermon-info__title {
  font-size: 1.8rem;
}
.sermon-info__date {
  font-size: .8rem;
  font-style: italic;
}
.sermon-info__audio {
  padding:    1em 0 0
}
.youtube-embed {
  width: 100%;
  height: 100%;
}

// SERMONS LIST PAGE

.sermons-header {
  display:  flex;
  justify-content: space-between;
}

.sermons-header__title {
  font-size:  clamp(25px, 4vw, 30px);
}

.sermons-list {
  display:                  grid;
  grid-template-columns:    repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:                 1em;
}

.sermons-list__sermon {
  border:           1px solid var(--eccex-lightgray);
  padding:          .6em;
  position:         relative;
}

.home-sermons__image {
  margin-top:       0;
}

.sermons-list__series-title {
  position:         absolute;
  top:              1rem;
  left:             1rem;
  text-transform:   uppercase;
  background:     rgba(255,255,255,0.65);
  z-index:          2;
  padding:          .1em .3em;
  font-size:        .5rem; // for older browsers
  font-size:        clamp(.55rem, 1.5vw, .65rem);
}

.sermons-pagination {
  width:            100%;
  display:          flex;
  justify-content:  space-between;
}

.tag-list {
  select {
    border: 1px solid var(--eccex-midgray);
    border-radius: .25em;
    padding:        .15em .5em 0;
  }
}