:root {
  --body-padding:     calc(1.5vw + 5px);
  --heading-padding:  calc(1vw + 1rem);
  
  --eccex-yellow:   rgba(254, 221, 4, 1.000);
  --eccex-purple:   rgba(44, 37, 65, .95);
  --eccex-salmon:   rgba(247, 126, 114, 1.000);
  --eccex-lightgray:rgba(0,0,0,0.1);
  --eccex-midgray:    rgba(85, 85, 85, 1.000);
}